@model List<Category>

<div class="list-group">

    <a asp-action="Index" asp-controller="Home" class="list-group-item list-group-item-action
           @(ViewBag.CategoryId?.ToString() == null?"active":"" )">
           All Category</a>


        @foreach (var item in Model)
        {
            <a asp-action="Index" asp-controller="Home" asp-route-CategoryId="@item.Id"
               class="list-group-item list-group-item-action
           @(ViewBag.CategoryId?.ToString() == item.Id.ToString()?"active":"" )">@item.CategoryName</a>
    }
    </div>