<<div class="display-4">
    <strong> @ViewBag.Fiyat - TL</strong> tutarındaki satın alma işleminiz başarı ile gerçekleşti bib tercih ettiğiniz için teşekkür ederiz.

    <<p>
    <<a asp-action="Index" asp-controller="Home" class="btn btn-success"> Geri Dön</a>
</p>
</div>


